@import url("https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100;12..72,400;12..72,700&display=swap");
/*repeatable patterns*/
:root{
      --clr-dark:#2b2b2b; 
      --clr-light:#fff; 
      --clr-primary: #1b8b83;
      --clr-secondary: #cfa584;
      --clr-semilight: #d9d9d9;
      --font: "Truculenta", sans-serif;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
  }
  html {
    font-size: 62.5%;
    height: 100%;
  }
  body {
    color:  var(--clr-dark);
    font-family: var(--font);
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }
  /* margin */
  .container {
    width: 100%;
    max-width: 150rem;
    margin: 0 auto;
    padding: 0 5rem;
  }
  /* HEADER*/
.header{
    padding: 2rem 0;
    background-color: var(--clr-semilight);

    }
    .header_wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .header_nav{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    }
    .header .header_wrapper ul li a{
      font-weight: 700;
      color:  var(--clr-dark);
      font-size: 2rem;
    }
    .header .header_wrapper ul li a:hover{
      color: var(--clr-primary);
    }


/* MOBILE RESPONSIVE */
.header .toggle_menu span{
    color: var(--clr-primary);
    width: 3rem;
    height: .3rem;
    border: 2px solid;
    border-radius: 1rem;
  }
  .header .toggle_menu{
    display: none;
  }
  @media screen and (max-width: 520px){
    .header .toggle_menu {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  
    .header .header_nav {
      position: fixed;
      top: 0;
      height: 100vh;
      width: 100%;
      background-color: var(--clr-semilight);
      display: flex;
      text-align: center;
      justify-content: center;
      flex-direction: column;
      z-index: 9;
      transition: all 0.5s ease;
      transform: translateY(-18rem);
      margin-top: 26rem;
      gap: 2rem;
      right: -100%;

    }
    .header_nav.open{
      right: 0;
      transition: all 0.5s ease;
    }
  
    .header .header_wrapper img {
      width: 10rem;
    }

    .toggle_menu.open span:first-child{
      transform: translate(0, 10px) rotate(230deg);
      transition: .5s ease;
    }
    .toggle_menu.open span:nth-child(2){
      opacity: 0;
      transition: .5s ease;
    }
    .toggle_menu.open span:last-child{
      transform: translate(0, -7px) rotate(-230deg);
      transition: .5s ease;
    }
  }

    
/*TOP*/
.top{
    background-color: var(--clr-secondary);
    padding: 3rem 0;
    text-align: center;
   
  }
  .top span{
    font-size: 1.7rem;
    font-weight: 100;
    margin-bottom: 5rem;
  }
  .top h4{
    line-height: 2.2rem;
    font-size: 3rem;
    font-weight: 700;
  }

 /* HOME BANNER */
 .homeBanner{
  padding-top: 3rem;
  padding-bottom: 7rem;
 }
 .homeBanner__wrapper{
   display: flex;
   justify-content: space-between;
 }
 .homeBanner__left{
   max-width: 80rem;
 }
 .homeBanner__left ul li{
   line-height: 5rem;
 }
 .homeBanner__left ul li:first-child{
   color: var(--clr-primary);
   font-size: 5rem;
   font-weight: 700;
 }
 .homeBanner__left ul li:nth-child(2){
   color: var(--clr-secondary);
   font-size: 5rem;
   font-weight: 700;
   margin-left: 7rem;
 }
 .homeBanner__left ul li:last-child{
   /* position: absolute; */
   color: var(--clr-primary);
   font-size: 5rem;
   font-weight: 100;
 }
 .homeBanner__left ul li:last-child::before{
   display: inline-block;
   position: relative;
   content: " ";
   background-color: var(--clr-primary);
   width: 20rem;
   height: .2rem;
   bottom: 1rem;
   right: 1rem;
 }
 .homeBanner__left p{
   margin-bottom: 5rem;
 }
 .homeBanner__right{
   display: flex;
   gap: 2rem;
 }
 .homeBanner__right img:last-child{
   position: relative;
   top: 4rem;
 }

@media screen and (max-width: 520px){
 .homeBanner__wrapper{
   flex-direction: column;
 }
 .homeBanner__left ul li:last-child::before{
   width: 10rem;
 }
 .homeBanner__right{
   display: none;
 }
}
/* ABOUT SECTION */
.aboutSection{
  padding: 3rem 0;
  background-color: var(--clr-dark);
}
.aboutSection  h2{
  color: var(--clr-primary);
  font-size: 3rem;
  font-weight: 700;
}
.aboutSection  h2::before{
  display: inline-block;
  position: relative;
  content: " ";
  background-color: var(--clr-primary);
  height: .2rem;
  width: 110rem;
  bottom: 1rem;
  right: 1rem;
}
.aboutSection__wrapper{
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  align-items: center;
}
.aboutSection__right{
  max-width: 100rem;
}

.aboutSection__right p{
  color: var(--clr-semilight);
  margin-bottom: 2rem;
}

/* ABOUT SECTION MOBILE */
@media screen and (max-width:520px) {
    .aboutSection__left {
      display: none;
    }
    .aboutSection  h2::before{
      display: none;
    }
  }
  /* CATALOG SECTION MOBILE */
@media screen and (max-width: 520px){
    .catalogSection h2::after{
      display: none;
    }
    .catalogSection__wrapper{
      grid-template-columns: 1fr;
    }
  }

/* CATALOG SECTION */
.catalogSection{
    padding: 3rem 0;
  }
  .catalogSection__wrapper{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 5rem;
  }
  .catalogSection h2{
    color: var(--clr-primary);
    font-size: 3rem;
    font-weight: 700;
  }
  .catalogSection h2::after{
    display: inline-block;
    position: relative;
    content: " ";
    background-color: var(--clr-primary);
    height: .2rem;
    width: 120rem;
    bottom: 1rem;
    left: 1rem;
  }
  .catalogSection__card{
    background-color: var(--clr-semilight);
    max-width: 40rem;
    margin-top: 4rem;
    
  }
  .catalogSection__card img{
    width: 40rem;
  }
  .catalogSection__card--content{
    padding: 1rem;
  }
  .catalogSection__card--content h3{
    color: var(--clr-secondary);
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .catalogSection__card--content p{
    margin-bottom: 1rem;
  }

/* CALL TO ACTION */
.cta{
  padding: 3rem 0;
  background-color: var(--clr-primary);
  color: var(--clr-semilight);
}
.cta__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cta h2{
font-size: 2.5rem;
font-weight: 700;
}
.cta p{
  margin-bottom: 1rem;
}
/* FOOTER */
.footer{
  background-color: var(--clr-dark);
  color: var(--clr-semilight);
  padding: 2rem 0;
}
.footer__wrapper{
  display: flex;
  justify-content: space-between;
}
.footer ul{
  display: flex;
  gap: 1rem;
}
.footer ul li a{
  color: var(--clr-semilight);
}

/* FOOTER MOBILE */
@media screen and (max-width:520px){
    .footer__wrapper{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

/* ABOUT PAGE BANNER */
.aboutBanner{
  padding: 3rem 0;
  background-color: var(--clr-light);
}
.aboutBanner__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.aboutBanner__right h1{
font-size: 7rem;
font-weight: 700;
letter-spacing: 2rem;
margin-bottom: 2.5rem;
}
.aboutBanner__right p{
  margin-bottom: 2rem;
  text-align: justify;
}
.aboutBanner__right ul{
  display: flex;
  gap: 1rem;
}
.aboutBanner__right ul li a{
  color: var(--clr-dark);
  font-size: 2rem;
}
.aboutBanner__left small{
  margin-left: 1rem;
}

.aboutBanner__left small::before{
  display: inline-block;
  position: relative;
  content: " ";
  background-color: var(--clr-dark);
  height: .2rem;
  width: 35rem;
  bottom: .5rem;
  right: 1rem;
}

/* ABOUT PAGE BANNER MOBILE */
@media screen and (max-width:520px){
  .aboutBanner__left{
    display: none;
  }
  .aboutBanner__right h1{
    font-size: 4rem;
}
.aboutBanner__right ul li a{
  font-size: 1.5rem;
}
}

/* LATEST STYLE */
.latestBanner{
  padding: 3rem 0;
  background-color: var(--clr-dark);
}
.latestBanner__wrapper{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  gap: 5rem;
}
.latestBanner h1{
  color: var(--clr-primary);
  font-size: 6rem;
  font-weight: 700;
}
.latestBanner__right p{
  color: var(--clr-semilight);
  margin-bottom: 2rem;
  text-align: justify;
}
.latestBanner__card{
  background-color: var(--clr-semilight);
  max-width: 40rem;
  margin-top: 4rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.latestBanner__card img{
  width: 40rem;
}
.latestBanner__card--content{
  padding: 1rem;
}
.latestBanner__card--content h3{
  color: var(--clr-secondary);
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.latestBanner__card--content p{
  margin-bottom: 1rem;
}

/* * LATEST STYLE MOBILE */ 
@media screen and (max-width: 520px) {
  .latestBanner__wrapper{
    grid-template-columns:1fr
  }
  .latestBanner h1::after{
    display: none;
  }
  }

/* CATALOG PAGE BANNER */
.catalogBanner__bg{
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(./img/catalog-banner.png);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  /* to center the text */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.catalogBanner h1{
  font-size: 7rem;
  font-weight: 700;
  color: var(--clr-primary);
}
.catalogBanner p{
  font-size: 3rem;
  line-height: 2.5rem;
}



/* INTERIOR PACKAGE */
/* minimalist kemerut */
 .package{
  padding: 3rem 0;
  background-color: var(--clr-light);
 }
 .package__theme{
  padding: 5rem;
  display: flex;
}
.package__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  width: 100%;
  max-width: 150rem;
  margin: 0 auto;
  padding: 0 5rem
}
.package__right{
  max-width: 85rem;
}
.package__right h1{   /* interior design */
color: var(--clr-primary);
font-size: 7rem;
font-weight: 700;
margin-bottom: 2.5rem;
text-align: center;
width: 150rem;
margin-top: -5rem;
}

.package__right img{
width: 550px;
height: 400px;
margin-right: 200px;
}

.package__left h2{
  color: var(--clr-primary);
font-size: 7rem;
font-weight: 700;
margin-bottom: 2.5rem;
text-align: center;
margin-top: 5rem;
margin-left: -25rem;
}
.package__left p{   /* text */
  color: var(--clr-dark);
  font-size: 2rem;
  margin-left: -20rem;
  max-width: 100rem;
  color: var(--clr-dark);
  width: 60rem;
  margin-top: -1rem;

}

/* Retro Theme */
 .packager{
  padding: 3rem 0;
  background-color: var(--clr-semilight);
 }
 .packager__theme{
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.packager__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  width: 100%;
  max-width: 150rem;
  margin: 0 auto;
  padding: 0 5rem
}
.packager__right{
  max-width: 85rem;
}

.packager__right img{
width: 550px;
height: 400px;
margin-left: 200px;
}

.packager__left h2{
  color: var(--clr-primary);
font-size: 7rem;
font-weight: 700;
margin-bottom: 2.5rem;
text-align: center;
margin-top: 10px;
margin-left: -40px;
}
.packager__left p{   /* text */
  color: var(--clr-dark);
  font-size: 2rem;
  margin-left: 60px;
  max-width: 100rem;
  color: var(--clr-dark);
  width: 60rem;


}
.packager__theme--retro {
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  background-color: var(--clr-semilight); 
  color: var(--clr-light); 
}

.packager__theme--retro .packager__left {
  max-width: 550px; 
}

.packager__theme--retro .packager__right {
  max-width: 550px; 
}

.packager__theme--retro .packager__right img {
  width: 100%; 
  height: auto; 
}


/* <!-- SHABBY CHICC THEMEEEE --> */

.packages{
  padding: 3rem 0;
  background-color: var(--clr-light);
 }
 .packages__theme{
  padding: 5rem;
  display: flex;
}
.packages__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  width: 100%;
  max-width: 150rem;
  margin: 0 auto;
  padding: 0 5rem
}
.packages__right{
  max-width: 85rem;
}

.packages__right img{
width: 550px;
height: 400px;
margin-right: 200px;
}

.packages__left h2{
  color: var(--clr-primary);
font-size: 7rem;
font-weight: 700;
margin-bottom: 2.5rem;
text-align: center;
margin-top: 1rem;
margin-left: -25rem;
}
.packages__left p{   /* text */
  color: var(--clr-dark);
  font-size: 2rem;
  margin-left: -10rem;
  max-width: 100rem;
  color: var(--clr-dark);
  width: 60rem;
  margin-top: -2rem;

}

/* ABOUT SECTION MOBILE */
@media screen and (max-width:520px) {
  .aboutBanner {
    display: flex;
  }
  .package__right  h1::before{
   display: flex;
  }
}
/* CATALOG SECTION MOBILE */
@media screen and (max-width: 520px){
  .package__right  h1::after{
   display: flex;
  }
  .package__wrapper{
    grid-template-columns: 1fr;
  }
} 


/* * LATEST STYLE MOBILE */ 
@media screen and (max-width: 520px) {
  .latestBanner__wrapper{
    grid-template-columns:1fr
  }
  .latestBanner h1::after{
    display: none;
  }
  }




/* Updates */

.updates{
  padding: 3rem 0;
}
.updates__wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.updates__content{
  padding: 40px 0;
  max-width: 500px;
  width: 100%;
}
.updates__content h1{
  text-align: center;
  font-size: 70px;
  font-weight: 1000;
  color: var(--clr-primary);
  margin-bottom: 20px;
  
}




/* building */

.building{
  padding: 3rem 0;
}

.building h2{
  margin-bottom: 20px;
  text-align: left;
  color: var(--clr-secondary);
font-size: 3rem;
font-weight: 1000;
}

.building__wrapper{
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-gap: 20px;
}
.building__card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}
.building__card .card{
  padding: 3rem;
  background: var(--clr-semilight);
}

.building__card .card h4{
text-align: left;
margin-bottom: 30px;
font-size: 25px;
color: var(--clr-dark);
font-weight: 1000;
}
.building__card .card i{
display: flex;
font-size: 4rem;
justify-content: flex-end;

}
.building__bar ul{
  list-style: none;
}

.building__bar ul li{
margin-bottom: 20px;
display: flex;
justify-content: space-between;
font-weight: 900;
}


/* recent project */
.recent{
  padding: 3rem 0;
}
.recent h2{

  text-align: center;
  color: var(--clr-primary);
  font-size: 3rem;
  font-weight: 1000;
}
.recent__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.recent__wrapper ul{
  list-style: none;
  display: flex;
justify-content: space-between;
  font-weight: 900;
}
.recent__wrapper li{
display: flex;
}
.recent__card i{
 font-size: 2rem;
justify-content: left;
}

.recent__wrapper img{
  width: 100%;
  margin-bottom: 10px;
}

/* contact */
.contact{
  padding: 3rem 0;
  background-color: var(--clr-semilight);
  
}
.contact__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;

}
.contact__left h1{
  font-size: 5rem;
  margin-bottom: 3%;
  color: var(--clr-primary);
  font-weight: 900;
}
  .contact__left p{
    margin-bottom: 10%;
    margin-top: 0;
}
.contact__left input,
.contact__left textarea{
  border: none;
  background-color: var(--clr-semilight);
  width: 100%;
  border-bottom: 1px solid var(--clr-dark);
  padding: 5px 16px;
}
.contact__left button{
  width: 100%;
  padding: 10px 16px;
  background: var(--clr-dark);
  color: var(--clr-light);
  margin-top: 10px;
  border: none;
  border-radius: 20px;
}
.contact__right{
  background: var(--clr-dark);
  color: var(--clr-light);
  padding: 50px;
  width: 60%;
  height: 70%;
  margin-top: 15%;
  margin-bottom: 1%;
}

.contact__right ul{
list-style: none;
color: var(--clr-secondary);
}

.contact__right ul li{
margin-bottom: 20px;


}

.contact__right ul li i{
font-size: 20px;
display: flex;
align-items: center;
gap: 30px;


}

.contact__right h2{
  font-size: 2rem;
  margin-bottom: 5%;

}



     /* REPEATABLE  */
     .btn{
      background-color: transparent;
      border: transparent;
      border-radius: 10rem;
      padding: 1rem 2rem;
      color: transparent;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      font-weight: 700;
    }
    .btn.bg--semi-light{
      background-color: var(--clr-semilight);
      color: var(--clr-dark);
    }
    .btn.bg--semi-light:hover{
      background-color: var(--clr-dark);
      color: var(--clr-semilight);
    }

    .btn--nobg{
      color: var(--clr-dark);
    }
    .btn--nobg:hover{
      color: var(--clr-primary);
    }





/* ABOUT SECTION MOBILE */
@media screen and (max-width:520px) {
  .aboutSection__left {
    display: none;
  }
  .aboutSection  h2::before{
    display: none;
  }
}
/* CATALOG SECTION MOBILE */
@media screen and (max-width: 520px){
  .catalogSection h2::after{
    display: none;
  }
  .catalogSection__wrapper{
    grid-template-columns: 1fr;
  }
} 


/* * LATEST STYLE MOBILE */ 
@media screen and (max-width: 520px) {
  .latestBanner__wrapper{
    grid-template-columns:1fr
  }
  .latestBanner h1::after{
    display: none;
  }
  }





    /* PADDING: 3REM 0; = first value = top & botoom (3)
                            2md value left & RIGHT(50 REM) */


/* padding means sa loob nagkakaroon ng space
pag margin ay sa labas */



                               /* p3rem = padding 1 rem */


                               /* <!-- shift+alt+down = copy/paste --> */


/* <!-- 1fr= one frame --> */


/* <!-- ctrl+d = space
arrow right.
 --> */


 /* <!-- footer.footer>.container>.footer_wrapper --> */


 /* <!--  ul>li*5>a --> */



 /* view port width mula left to right */
 /* view port heigh mula taas hngang baba */


 /* querySelector - pag iisa */
 /* querySelectorAll = madami */


 /* arrow function = para maclick yung headernav */

 /* constant = para makagawaa ng variable */


 /* @media screen and (max-width:520px){ = SIZE OF CELLPHONE
    size of ipad 768 */